* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.app {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.header {
  height: 3px;
  min-height: 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  border-bottom: 1px solid #ccc;
}
.dropdown-open {
  color: #fff;
  position: absolute;
  font-size: 2.5em;
  right: .3em;
  top: .3em;
}
.icon {
  height: 50px;
  width: 50px;
  border-radius: 50pt;
  margin-top: .3em;
  margin-left: .3em;
}
.dropdown {
  height: 0em;
  width: 10em;
  background-color: #122;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0 0 20px 6px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: height .5s;
  position: fixed;
  z-index: 999;
  top: 0;
  right: .3em;
  border-radius: 10px;
}
.dropdown-close {
  color: #fff;
  font-size: 2.5em;
  position: absolute;
  right: .3em;
  top: .3em;
}
.dropdown-list {
  padding: 6pt;
  margin-top: 3.5em;
  width: 100%;
}
.dd-lts {
  color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  padding: 0 8px;
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 45px;
}
.type {
  position: fixed;
  top: calc(60px - 40px);
  left: calc(100% - 70%);
  outline: none;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 8.5em;
  border-right: 2px solid #fff;
  animation: typing .5s infinite;
  user-select: none;
}
.type::selection {
  color: #fff;
  background: transparent;
}
@keyframes typing {
  50% {
    border-right: none;
  }
}
.notImp {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notImp > p {
  margin-top: .3em;
  color: #fff;
  text-shadow: 2px 2px black;
}
.btn {
  background: transparent;
  color: #fff;
  height: 50px;
  width: 150px;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 0 6pt;
  font-size: 20px;
  text-shadow: 2px 2px black;
}
.btn:hover {
  background-color: orange;
}